nav {
    background-color: darkslateblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:  antiquewhite;
    padding: 0 16px;
}

body {
    margin: 5;
}

#mytitle {
    color: darkviolet;
}

.container {
    margin: 8px 32px;
}

input[type=number] {
    width: 80;
}
